<% provide(:title, "#{@team.abbreviation}") %>

<% @posts.each do |post| %>
  <div class="card-posts">
    <div class="card-user-posts">
      <h2><%= post.title %></h2>
    </div>
    <div class="card-category-posts">
      <%= post.source %>
    </div>
    <div class="card-content-posts">
      <p><%= post.content %></p>
    </div>
    <%= link_to "", post.link , class:"card-link" %>
  </div>
<% end %>
