$light-gray: #777;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* typography */

a {
color: #555;
  &:hover {
color: #222;
text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  // margin-bottom: 30px;
  font-weight: normal;
  color: $light-gray;
}

p {
  margin-bottom: 10px;
  font-size: 1.1em;
  line-height: 1.7em;
}
