/* footer */

footer {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  small {
  float: left;
  }
  ul {
  float: right;
  list-style: none;
    li {
    float: left;
    margin-left: 15px;
    }
  }
}
