<footer class="footer">
  <small>
    <%= link_to 'TocoCorocko', "https://tococorocko.github.io/profile-page/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact",root_path %></li>
    </ul>
  </nav>
</footer>
