<div class="container col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
  <header class="header">
    <nav>
      <div>
      <%= link_to "<", root_path, id: "logo" %>
      </div>
      <div>
      <h1>news@football:~$ </h1>
      </div>
      <div>
      <p><%= yield(:title) %></p>
      </div>
    </nav>
  </header>
</div>
